version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DAGSHUB_USER_TOKEN=${DAGSHUB_USER_TOKEN}
    volumes:
      - .:/app
    restart: always
